/*
 * Login Module Styles
 *
 * Author: Zachary Fisher - zfisher@zfidesign.com
 * * * * * * * * * * * * * * * * * * * * * * * * */

div[data-module=login] {
   &[data-theme=default] {
      background: $darkGray;
      margin: 25px auto;
      width: 96%;
      max-width: 500px;
      form {
         * { @include border-radius(2px); }
         position: relative;
         padding: 50px 0;
         width: 300px;
         margin: 0 auto;
         h2 {
            color: $lightGray;
            font-size: 14px;
         }
         fieldset {
            border: 2px solid black;
            margin: 15px 0;
            input {
               background: none;
               padding: 10px;
            }
            &.text {
               background: $lightGray;
               input {
                  &[type=text],
                  &[type=password] {
                     color: $darkGray;
                     width: 276px;
                  }
               }
            }
            &.submit {
               background: $red;
               color: white;
               cursor: pointer;
               position: relative;
               &:hover {
                  background: $lightRed;
               }
               input[type=submit] {
                  height: 100%;
                  width: 296px;
                  cursor: pointer;
                  color: white;
               }
            }
         }
      }
   }
}