#blog-posts {
   div.title {
      height: 110px;
      div.logo {
         background: white;
         border-right: 1px solid black;
         text-align: center;
         width: 146px;
      }
      h2 {
         color: $gray3;
         @include text-shadow(0 1px 1px white);
         text-align: center;
         position: relative;
         top: 35px;
      }
   }
   div.post {
      p, a, blockquote {
         display: block;
         word-wrap: break-word;
      }
      a.title {
         font-weight: bold;
         font-size: 16px;
         line-height: 26px;
         margin: 2%;
         margin-bottom: 0;
         i {
            font-weight: bold;
            font-size: 20px;
            top: 1px;
            position: relative;
         }
         &:hover {
         }
      }
      a.link {
         background: black;
         font-weight: 600;
         margin: 2%;
         padding: 1%;
         &:hover { color: white; }
      }
      a.btn {
         margin: 2% 2% 1%;
      }
      iframe, img {
         border: 1px solid black;
         margin: 2%;
         width: 96%;
      }
      iframe { min-height: 300px; }
      embed {
         border: 1px solid black;
         float: left;
         margin: 2% 0 1% 2%;
      }
      p, blockquote {
         color: $gray3;
         font-weight: 500;
         margin: 0 2% 2%;
         a {
            font-weight: 600;
         }
      }
   }
}