#fun-widget {
   ul li {
      * { cursor: pointer; }
      cursor: pointer;
      &:nth-child(1) { border-bottom: 1px solid black; }
      &:nth-child(3) {
         border-top: 1px solid black;
         top: -1px;
      }
      &.active {
         background: black;
         cursor: default;
         * {
            cursor: default;
         }
      }
      &.opt1 {
         background: $gray3;
         * { color: $gray1; }
      }
      &.opt2 {
         background: $gray4;
         * { color: $gray2; }
      }
      &:hover:not(.active) {
         background: $gray1;
         * { color: black; }
      }
   }
   a.img {
      @include opacity(1);
      &:hover { @include opacity(.8); }
   }
   p.trackname {
      font-weight: bold;
      text-transform: uppercase;
   }
   a.download {
      padding: 0;
      font-weight: bold;
      text-transform: uppercase;
      cursor: pointer !important;
      position: absolute;
      z-index: 2;
      top: 5px;
      right: 4px;
   }
   div.audiojs {
      @include opacity(.8);
      position: relative;
      right: 1px;
      width: 100%;
      @include box-shadow(none);
      background-image: none;
      div.scrubber {
         width: 210px;
      }
      div.time {
         float: right;
      }
      &:hover { @include opacity(1); }
   }
   ul.color-schemes {
      li {
         div.swatch {
            height: 50%;
            width: 10%;
         }
         &[data-color=red]    { @include color-tile($redMain,    $redAccent); }
         &[data-color=pink]   { @include color-tile($pinkMain,   $pinkAccent); }
         &[data-color=green]  { @include color-tile($greenMain,  $greenAccent); }
         &[data-color=aqua]   { @include color-tile($aquaMain,   $aquaAccent); }
         &[data-color=blue]   { @include color-tile($blueMain,   $blueAccent); }
         &[data-color=purple] { @include color-tile($purpleMain, $purpleAccent); }
      }
   }
}