#alert-bar {
   text-align: center;
   height: 20px;
   z-index: 100;

   p {
      font-size: 10px;
      line-height: 12px;
      text-transform: uppercase;
      b { font-size: 10px; }
   }
}

#navigation {
   @include box-shadow(0 2px 10px black);
   z-index: 50;

   div.white-gradient {
      height: 60px;

      div.inner {
         margin: 8px 25px;

         div.left {
            ul.links {
               height: 60px;
               position: absolute;
               left: 130px;
               top: 3px;
               li {
                  height: 100%;
                  padding: 0 20px;
                  position: relative;
                  text-align: center;
                  a {
                     cursor: pointer;
                     color: $gray2;
                     font-size: 12px;
                     font-weight: 600;
                     text-transform: uppercase;
                     position: relative;
                     top: 22px;
                  }
                  i {
                     display: none;
                     font-size: 26px;
                     position: absolute;
                     top: 46px;
                     margin-left: 50%;
                     left: -8px;
                  }
                  &.hover {
                     background: #ffffff; /* Old browsers */
                     background: -moz-linear-gradient(top,  #ffffff 0%, #eaeaea 100%); /* FF3.6+ */
                     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
                     background: -webkit-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
                     background: -o-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* Opera 11.10+ */
                     background: -ms-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* IE10+ */
                     background: linear-gradient(to bottom,  #ffffff 0%,#eaeaea 100%); /* W3C */
                     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
                     a { color: black; }
                  }
                  &.active {
                     background: white;
                     a { color: black; }
                     i { display: block; }
                  }
               }
            }
         }

         div.right {
            position: relative;
            top: 5px;
            ul.social-media {
               li {
                  padding: 5px 0 0 15px;
                  a {
                     position: relative;
                     i {
                        color: $gray2;
                        font-size: 24px;
                        @include text-shadow(0 1px 1px white);
                     }
                     &:hover {
                        i {
                           color: black;
                        }
                     }
                  }
               }
            }
         }
      }
   }

   &.scrolling {
      border-top: 1px solid black;
      position: fixed;
      top: 0;
   }

}

@media (max-width: 944px) {
   #navigation {
      ul { display: none; }
   }
}