/*
 * ZFi Modal Styles
 *
 * Author: Zachary Fisher - zfisher@zfidesign.com
 * * * * * * * * * * * * * * * * * * * * * * * * */

#modals {
   display: none;
   position: absolute;
   height: 100%;
   width: 100%;
   z-index: 200;
   top: 0;

   div.modal {
      display: none;
      position: absolute;
      z-index: 300;
   }

   div.overlay {
      position: fixed;
      height: 100%;
      width: 100%;
      z-index: 200;
      top: 0;
      @include opacity(.9);
      background: black;
   }
}