#two-col-content {
   height: 100%;
   position: relative;

   div.bg-vertical-divider {
      background: black;
      height: 100%;
      width: 3px;
      position: absolute;
      top: 0;
      right: 23px;
   }

   div.bg-horizontal-divider {
      background: black;
      height: 3px;
      position: relative;
   }

   div.column {
      position: relative;
      top: 0;
      padding: 25px 0;
      div.section {
         postion: relative;
         top: 25px;
      }
      &.left {
         left: 25px;
         div.section {
            margin-right: 50px;
         }
         div.bg-horizontal-divider {
            left: -25px;
         }
      }
      &.right {
         right: 25px;
         div.section {
            margin-left: 50px;
         }
         div.bg-horizontal-divider {
            right: -25px;
         }
      }
   }

}