@import 'config/mixins';

$lightGray : #e8e8e8;
$darkGray : #232323;
$red : #db4a39;
$lightRed : #FF0000;

* {
   border: none;
   font-family: 'Arial', sans-serif;
   font-size: 12px;
   font-weight: 500;
   margin: 0;
   padding: 0;
   @include box-shadow(none);
}

#navigation {
   left: 10px;
   position: fixed;
   top: 25px;
   p {
      font-size: 14px;
      line-height: 20px;
   }
   ul {
      padding: 10px;
      li {
         list-style-type: none;
         line-height: 20px;
      }
   }
}

div[data-module=login] {
   &[data-theme=default] {
      background: $darkGray;
      margin: 25px auto;
      width: 500px;
      form {
         * { @include border-radius(2px); }
         position: relative;
         padding: 50px 88px;
         width: 324px;
         h2 {
            color: $lightGray;
            font-size: 14px;
         }
         fieldset {
            margin: 15px 0;
            width: 100%;
            input {
               border: 2px solid black;
               padding: 10px;
               &[type=text],
               &[type=password] {
                  background: $lightGray;
                  color: $darkGray;
                  width: 300px;
               }
               &[type=submit] {
                  background: $red;
                  color: white;
                  cursor: pointer;
                  width: 324px;
                  &:hover {
                     background: $lightRed;
                  }
               }
            }
         }
         div.message {
            p {
               text-align: center;
               &.success { color: lime; }
               &.error { color: red; }
            }
         }
      }
   }
}

@import 'config/browsers';