/*
 * ZFi Button Styles
 *
 * Author: Zachary Fisher - zfisher@zfidesign.com
 * * * * * * * * * * * * * * * * * * * * * * * * */

.btn {
   cursor: pointer;
   padding: 5px 10px;
   * { cursor: pointer; }
   span {
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
   }
   i {
      font-size: 16px;
      padding-left: 10px;
   }
}